@model List<DataLayer.DTO.AdminDTO.PatientHistroyData>
@{
    int i = 1;
}

<div class="d-lg-flex d-none  table-responsive">
    <table class="table ">
        <thead>
            <tr class="bg-light">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                @foreach (var item in Model)
                {
                    <tr class="tableRow">
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Address</td>
                        <td>
                            <a class="btn btn-outline-info " asp-action="PatientRecords" asp-controller="Admin" asp-route-userid="@item.UserId">Explore</a>

                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td><p>No data found</p></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div class="d-lg-none">
    @if (Model.Count > 0)
    {
        @foreach (var item in Model)
        {
            <div class="accordion  " id="accordionExample">

                <div class="accordion-item accordian-back ">
                    <h2 class="accordion-header">
                        <button class="accordion-button accordian-back collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#id-@i" aria-expanded="false" aria-controls="collapseTwo">
                            <div>
                                <p><span>@item.FirstName </span><span> @item.LastName</span></p>
                                <p><span>@item.PhoneNumber</span></p>
                            </div>
                        </button>
                    </h2>
                    <div id="id-@i" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body pt-0">
                            <div class="mt-2">
                                <div class="d-flex">
                                    <div style="border: 2px solid; border-radius:1000px; width:33px; height:33px"
                                         class="border-info d-flex justify-content-center me-2 align-items-center">
                                        <i class="fa-regular fa-envelope text-info"></i>

                                    </div>
                                    <p class="mt-1"><span class="text-muted">Email:</span> @item.Email</p>
                                </div>

                                <div class="d-flex">
                                    <div style="border: 2px solid; border-radius:1000px; width:33px; height:33px"
                                         class="border-info d-flex justify-content-center me-2 align-items-center">
                                        <i class="fa-solid fa-phone text-info"></i>

                                    </div>
                                    <p class="mt-1"><span class="text-muted">Phone:</span> @item.PhoneNumber</p>
                                </div>
                                <div class="d-flex justify-content-end align-items-center">

                                    <a class="btn btn-outline-info " asp-action="PatientRecords" asp-controller="Admin" asp-route-userid="@item.UserId">Explore</a>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            i++;
        }
    }
    else
    {
        <p>No data found</p>
    }

</div>
