@model List<DataLayer.DTO.AdminDTO.RoleData>
@{
    Layout = "_AdminPhysicianHeader";
    ViewData["Active"] = "Access";
    ViewData["SubMenu"] = "Account";

}
<div>
   

    <div class="d-flex justify-content-center mt-3">
        <div class="container">

            <div class="d-inline-flex justify-content-between w-100">

                <h3 class="m-2">Account Access</h3>
                <div class="ml-auto">


                    <button class="  back-btn btn-outline-info back mt-2 rounded p-2 "
                            onclick="back()">
                        &lt Back
                    </button>
                </div>
            </div>
            <br />


            <div class="bg-white rounded shadow mt-3 ">
                <div class="d-flex justify-content-end m-3 pt-3">
                    <a class="text-decoration-none" asp-action="CreateRoleAll" asp-controller="Admin">
                        <button class="btn btn-outline-info">Create Access</button>
                    </a>
                </div>
                <div class="d-lg-flex d-none">
                <table class="w-100 ">
                    <thead class="bg-light ">
                        <tr>

                    <th class="p-2"><p>Name</p></th>
                    <th class="p-2"> <p>Account Type</p></th>
                    <th class="p-2"> <p>Actions</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td class="p-2">@item.RoleName</td>
                                <td class="p-2">
                                    @if(item.AccType==1){
                                       <p>Admin</p>
                                    } 
                                    @if(item.AccType==2){
                                       <p>Physician</p>
                                    }
                                   </td>
                                <td class="p-2">
                                    <a class="text-decoration-none" asp-action="EditRole" asp-controller="Admin" asp-route-editid="@item.RoleId">
                                    <button class="btn btn-outline-info">Edit</button>

                                    </a>
                                    <button data-toggle="modal" data-target="#delete" data-deleteid="@item.RoleId"   class="btn btn-outline-info delete">Delete</button>
                                </td>
                            </tr>
                        }
                       
                    </tbody>
                </table>
                </div>
                <div class="d-lg-none">
                    @foreach (var item in Model)
                    {
                        <div class="border-3 py-3" style="border-top:1px solid grey;">
                            <div class="px-4">
                               
                                <div class="mb-3">
                                    <span class="fw-semibold fs-5 "> Name: </span>
                                    <span class="fw-medium fs-5 ">@item.RoleName</span>
                                </div>
                                <div class="mb-3">
                                    <span class="fw-semibold fs-5 ">Account Type </span>
                                    @if (item.AccType == 1)
                                    {
                                        <span class="fw-medium fs-5 ">Admin</span>

                                    }
                                    @if (item.AccType == 2)
                                    {
                                        <span class="fw-medium fs-5 ">Physician</span>

                                    }
                                </div>


                                <a class="btn btn-outline-info me-2" asp-action="EditRole" asp-controller="Admin" asp-route-editid="@item.RoleId">Edit</a>
                                <button data-toggle="modal" data-target="#delete" data-deleteid="@item.RoleId" class="btn btn-outline-info delete">Delete</button>

                            </div>
                        </div>

                    }
                </div>
            </div>

        </div>
    </div>

</div>


<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <form class="deleteform">
                <div class="modal-body">
                    <br />
                    <input type="number"
                           hidden
                           name="delete_id"
                           id="deleteid" />
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="warning_icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="85" height="85" fill="currentColor" class="bi bi-exclamation-circle-fill war-i" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
                            </svg>
                        </div>
                        <br />
                        <h4 class="my-3">Confirmation for delete role</h4>
                        <p class="text-center my-3">
                            Are sure you want to delete this role? 
                        </p>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                        <button id="" class="btn btn-info text-white m-2 deletesubmit">Delete</button>
                        <button type="button" class="btn btn-outline-info m-2" data-dismiss="modal">Cancel</button>
                    </div>
                    <br />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on("click", ".delete", OpenDelete);
    });

    function OpenDelete() {
        var roleid = $(this).data("deleteid")
        $('#deleteid').val(roleid);

    }

    $('.deletesubmit').click(function () {
      
        $.ajax({
            method: "Post",
            url: "/Admin/DeleteRole",
            data: $('form.deleteform').serialize(),
            success: function (result) {
                window.location.reload();
            }
        });
    });


   
</script>