@model DataLayer.DTO.ProviderDTO.EncounterPDF
@{
    Layout = "";
}
<div class="p-3 m-2" >
    <h2 class="fw-bold">Encounter Form</h2>
    <div>
        <p>Patient Name : <span>@Model.Patientname</span></p>
        <p>Date of birth : <span>@Model.DateOfBirth</span></p>
        <p>Phone : <span>@Model.Phone</span></p>
        <p>Email : <span>@Model.Email</span></p>
        <p>History Of Illness : <span>@Model.HistoryOfIllness</span></p>
        <p>Medical Histroy : <span>@Model.MedicalHistroy</span></p>
        <p>Medications : <span>@Model.Medications</span></p>
        <p>Allergies : <span>@Model.Allergies</span></p>
        <p>Temperature : <span>@Model.Temp</span></p>
        <p>HR :  <span>@Model.HR</span></p>
        <p>RR : <span>@Model.RR</span></p>
        <p>Blood Pressure Systolic : <span>@Model.BloodPressureSystolic</span></p>
        <p>Blood Pressure Diastolic : <span>@Model.BloodPressureDiastolic</span></p>
        <p>O2 : <span>@Model.O2</span></p>
        <p>Pain : <span>@Model.Pain</span></p>
        <p>Heent : <span>@Model.Heent</span></p>
        <p>CV :  <span>@Model.CV</span></p>
        <p>Chest : <span>@Model.Chest</span></p>
        <p>ABD : <span>@Model.ABD</span></p>
        <p>Extremeties : <span>@Model.Extremeties</span></p>
        <p>Skin : <span>@Model.Skin</span></p>
        <p>Neuro : <span>@Model.Neuro</span></p>
        <p>Other :<span>@Model.Other</span></p>
        <p>Diagnosis : <span>@Model.Diagnosis</span></p>
        <p>Treatment Plan :<span>@Model.TreatmentPlan</span></p>
        <p>Medication Dispensed :<span>@Model.MedicationDispensed</span></p>
        <p>Procedures : <span>@Model.Procedures</span></p>
        <p>FollowUp : <span>@Model.FollowUp</span></p>

    </div>
 
    
</div>